/* :root {
    --purple: #987D9A;
    --lightpurple: #BB9AB1;
    --cream: #EECEB9;
    --grey: #FEFBD8;
  } */
/* General Styling */
/* General Styling */

/* *{
    border: 1px solid red;
} */

/* Navbar Styling */
/* #neubar {
    box-shadow: 4px 6px 12px rgba(0,0,0,0.4);
  }
   */
  /* .nav-item .active {
    border-radius: 6px;
    background: linear-gradient(145deg, #ffe7ca, #f5d7b2);
    box-shadow:  4px 4px 8px #ddc1a0,
                 -4px -4px 8px #f7e5cc;
  }
  #neubar .dropdown-menu a:hover {
    color: #454545 */
  /* } */
  /* #neubar .nav-item {
    margin : auto 4px;
  } */
  /* #neubar a {
  
    padding-left:12px;
    padding-right:12px;
  }
  #neubar .dropdown-menu {
    background : #545454
  }
  a.navbar-brand {
    color: #454545
  } */
/* Navbar Styling */

/* Hero Section Styling */
/* .main{
    background: rgb(238,206,185);
    background: linear-gradient(90deg, rgba(238,206,185,1) 0%, rgba(152,125,154,1) 35%, rgba(254,251,216,1) 100%);
} */
/* Hero Section Styling */
/* Resources Section */
/* .resource-box {
    box-shadow: 4px 6px 12px rgba(0,0,0,0.4);
} */
/* Resources Section */
/* Text to speech page */

/* .app-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    color: #fff;
} */
/* 
.headings-container {
    padding: 0 1rem;
} */
/* 
.interaction-container {
    display: flex;
    align-items: normal;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding: 0 1rem;
} */
/* 
.text-control {
    padding: 0.5rem;
    margin: 2rem 0;
    background-color: #3f464a52;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 10px;
} */
/* 
.text-control:focus-visible {
    outline: none;
}

.error-para {
    color: red;
}

.btn {
    padding: 0.8rem;
    background-image: linear-gradient(90deg, #F4244C, #F57D4E);
    border: 1px solid transparent;
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
    transition: all 0.25s;
}

.btn:hover {
    padding: 1rem;
} */

/* Text to speech page */